<!doctype html>
<html>
  <head>
    <title>Onceler - Error</title>
<%= erb :'partials/header' %>
  </head>
  <body>
    <h1>Internal Server Error</h1>
    <p>
      The onceler listens to your secrets and gives you a link to share them
      exactly once.
    </p>
    <h3>
      Something went wrong, sorry!
    </h3>
    <p><a href="https://github.com/ab/onceler/issues">File a bug?</a></p>
    <p><a href="/">Back to home</a></p>
    <img src="/img/lorax-ohno.jpg" alt="lorax" style="width: 100%" />
    <p>
    </p>
  </body>
</html>
<% # vim: set ft=eruby sw=2 ts=2 tw=79: %>
