    <h1>Onceler</h1>
    <h3>
      I will call you by Whisper-ma-Phone,<br/>
      for the secrets I tell you are for your ears alone.
    </h3>

    <pre id="secret"><%= escape @entry.content %></pre>

<% if @entry.once? || @deleted %>
    <p>
      This secret will be gone forever when you refresh.
      It has already been deleted from the server.
    </p>
<% else %>
    <p>
      This is a multi-use secret.
      <form method="post" action="<%= @delete_link or raise 'delete_link' %>">
        <button type="submit">Delete</button>
      </form>
    </p>
<% end %>

    <p>
      This secret was created from
      <code><%= escape(@entry.created_by) %></code>
      at <%= Time.at(@entry.created) %>
    </p>

    <p>
      <form><button formaction="../../">Share your own secret</button></form>
    </p>
