<!doctype html>
<html>
  <head>
    <title>Onceler Secret</title>
    <style type="text/css">
    </style>
  </head>
  <body>
    <h1>Onceler</h1>
    <h3>
      I will call you by Whisper-ma-Phone,<br/>
      for the secrets I tell you are for your ears alone.
    </h3>

    <form method="post" action="./get">
      <button type="submit">View secret</button>
      (Button will only work once.)
    </form>

    <p>This secret was created from <%= @data.remote_host %> at <%= Time.at(@data.created) %></p>

    <p>
      <a href="../../">Share your own secret</a>
    </p>
  </body>
</html>
<% # vim: set ft=eruby sw=2 ts=2 tw=79: %>
