<!doctype html>
<html>
  <head>
    <title>Onceler Secret</title>
<%= erb :'partials/header' %>
  </head>
  <body>
    <%= erb :'partials/bodyheader' %>

    <h1>Onceler</h1>
    <h3>
      I will call you by Whisper-ma-Phone,<br/>
      for the secrets I tell you are for your ears alone.
    </h3>

    <form method="post" action="./">
      <button type="submit">View secret</button>
      (Button will only work once.)
    </form>

    <p>This secret was created from <%= escape @entry.remote_host %> at <%= Time.at(@entry.created) %></p>

    <p>
      <form><button formaction="../../">Share your own secret</button></form>
    </p>
  </body>
</html>
<% # vim: set ft=eruby sw=2 ts=2 tw=79: %>
