    <h1>Onceler</h1>
    <h3>Your secret link:</h3>
    <% link = @secret_url %>
    <!--
    <input id="link" type="text" readonly=readonly value="<%= link %>" />
    <script type="text/javascript">
      document.getElementById('link').focus();
      document.getElementById('link').select();
    </script>
    -->
    <pre id="link"><a href="<%= link %>"><%= link %></a></pre>
    <p>
      <form><button formaction="../">Make another</button></form>
    </p>
