<!doctype html>
<html>
  <head>
    <title>Onceler - Not Found</title>
<%= erb :'partials/header' %>
  </head>
  <body>
    <%= erb :'partials/bodyheader' %>

    <h1>Not Found</h1>
    <p>
      The onceler listens to your secrets and gives you a link to share them
      exactly once.
    </p>
    <p>
      There might once have been a truffula tree full of secrets here, but now it is gone.
    </p>
    <img src="/img/notfound.jpg" alt="lorax" />
    <% # TODO: find a good UNLESS image %>
    <p>
      <form><button formaction="/">Share another secret</button></form>
    </p>
  </body>
</html>
<% # vim: set ft=eruby sw=2 ts=2 tw=79: %>
