<!doctype html>
<html>
  <head>
    <title>Onceler</title>
  </head>
  <body>
    <h1>Onceler</h1>
    <p>
      The onceler listens to your secrets and gives you a link to share them
      exactly once.
    </p>
    <form method="post" action="./once/">
      <textarea name="content" rows="5" cols="50"></textarea>
      <br />
      <label>Filename (optional): <input type="text" name="filename" />
      <br /><br />
      <button type="submit">Create my one-time link</button>
    </form>
  </body>
</html>
<% # vim: set ft=eruby sw=2 ts=2 tw=79: %>
