<!doctype html>
<html>
  <head>
    <title>Onceler</title>
<%= erb :'partials/header' %>
  </head>
  <body>
    <h1>Onceler<%= @path ? ": " + @path : '' %></h1>
    <p>
      The onceler listens to your secrets and gives you a link to share them
      exactly once.
    </p>
    <form method="post" action="/once/">
<% if @key %>
      <input type="hidden" name="key" value="<%= @key %>" />
<% end %>
      <textarea name="content" rows="5" cols="50"></textarea>
      <br />
      <input type="text" name="filename" placeholder="Filename (optional)" />
      <br /><br />
<% if @mode != :multi %>
      <button type="submit" name="action" value="once">Create one-time link</button>
<% end %>
<% if @mode != :once %>
      <button type="submit" name="action" value="multi">Create multi-use link</button>
<% end %>
    </form>
  </body>
</html>
<% # vim: set ft=eruby sw=2 ts=2 tw=79: %>
